:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 700px;
    margin: 0 auto;
    padding: 1em;
    border: 4px solid steelblue;
    box-shadow: 4px 4px 6px 6px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

 a{
    font-weight: bold;
}



header {
background-image: linear-gradient(white, lightsteelblue);
    margin-left: -1em;
    margin-right: -1em;
    border-bottom: 2px solid steelblue;
    
    margin-bottom: 1em;
    padding-bottom: 1em;
    
    
    
   
h1 {
        font-size: 200%;
        font-style: italic;
        color: steelblue;
        padding-bottom: 0;
        margin-bottom: 0;
       }
    
h2 {
        font-size: 150%;
        marging-top: 0;
   }

h3 {
        font-size: 130%;
   }

img {
    float: left;
    margin-right: 1em;
} 

}




section {
    clear: left;
    a{
        color: maroon;
    }
 a:hover, a:focus {
        color: steelblue
 }   
}

aside {
    padding: 1em;
    border: solid steelblue;
    border-radius: 10px;
    margin-bottom: 2em;

    & h2 {
       color: maroon;
       text-indent: 1em;
    }

    & ul {
       line-height: 150%;
    }

    a{
        color: steelblue;
    }
 a:hover, a:focus {
        color: maroon
 }   
}

footer {
    background-color: steelblue;
    margin-left: -1.2em;  
    margin-right: -1.2em;
    font-size: 90%;
    color: white;
    padding: 1em;
    text-align: center;
}
