@font-face {
    font-family: Captain;
    src: url("American Captain.ttf");
}
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }


body {
    width: 95vw;
    margin: 0 auto;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(100% + 1vw);
    display: grid;
    grid-template-rows: 10% 5% 1fr 5%;
    grid-template-columns: 5 auto;
}

header {grid-row: 1 / 2; grid-column: 1 / span 5;}
.navbar {grid-row: 2 / 3; grid-column: 1 / span 5;}
    .navbar ul { grid-column: 1 / span 2; grid-row: 1 / 2; display: flex; justify-content: space-between; align-items: center; padding: 0; margin: 0;}
main {grid-row: 3 / 4; grid-column: 1 / span 5;}
footer {grid-row: 4 / 5; grid-column: 1 / span 5;}


 a{
    font-weight: bold;
}

header {
background-image: linear-gradient(white, lightsteelblue);
    margin-left: -1.2em;
    margin-right: -1.2em;
    border-bottom: 2px solid steelblue;
    margin-bottom: 1em;
    padding-bottom: 1em;
    
}

header h1 {
    font-size: calc(175% + 1vw);
    font-style: italic;
    color: steelblue;
    padding-bottom: .2em;
    margin-bottom: 0.2em;
    font-family: 'Captain';
}
header h3 {
    font-size: calc(110% + 1vw);
    margin-top: 0;
}

header img {
    float: left;
    margin-right: 1em;
    width: clamp(100px, 100%, 120px);
}

header.stress-header h1 {
    font-family: 'Captain';
    

}

.navbar {
    background-color: steelblue;
    margin-bottom: 1em;
    margin-top: -1em;
    margin-left: -1.2em;
    margin-right: -1.2em;
    padding: 0.5em;
    align-items: stretch;
}

.navbar ul {
    color: white;
    list-style-type: none;
    padding: .2em;
    display: none;
}

.navbar li {
    padding: 0;
}

.navbar a {
    padding: 1em;
    text-decoration: none;
    margin: 0;
    color: inherit;
    width: 100%;
    height: 100%;
}
.navbar a:hover, .navbar a:focus {
    background-color: steelblue;
    color: white;
    outline: none;
}

.navbar li > a.current {
    border: 2px solid white;
    border-radius: 10px;
    padding: 0.3em 0.7em;
    cursor: pointer;
}


.menu {
	display: none;
	
}

#checkbox-toggle {display: none;}
.menu-btn {
	display: block;
	padding:.25em 1em;
	color: var(--light);
	font-size: 16px;
}
.menu-btn::after {content: "\2630";}


#checkbox-toggle:checked ~ .menu {
		display: block;
        position: absolute;
        background-color: steelblue;
	}
#checkbox-toggle:checked ~ .menu-btn::after {content: "\2716";
}
.menu li:has(.submenu) {
    position: relative;
}
.menu li:has(.submenu) small {
    margin-left: .25em;			
}
.menu li:has(.submenu):hover > .submenu {
    display: block;
}
.menu li:has(.submenu) small::after {
    content: "\25b6";
}

.submenu {
	position: absolute;
	left: 100%;
	top: 0;
	background-color: var(--primary-color);
	color: var(--light);
	width: 175%;
	display: none;
}
.menu li {
    flex: 0 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
}


.menu li > small {
    margin-left: .5em;
    display: inline-block;
}

.menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: steelblue;
    text-align: left;
    z-index: 10;
    padding: 0;
    margin: 0;
}

.submenu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.submenu li {
    text-align: left;
}

.submenu li a {
    display: block; 
    padding: 0.75em 1em;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.submenu li a:hover, .submenu li a:focus {
    background-color: steelblue;
    color: white;
    outline: none;
}


.submenu {
    & li a {
        display: none; 
    }
}

.menu li:hover .submenu {
    display: block;
    & li a {
        display: block;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
   
}
main h2 {
    color: black;
    font-size: calc(100% + 1vw);
}

main h3 {
    color: maroon;
}
main section {
    grid-row: 1 / 2;
    clear: left;
    order: -1;
}
main section a{
    color: maroon;
}
main section a:hover, main section a:focus {
        color: steelblue
 }
main section h2 {
    font-size: calc(90% + 1vw);
    margin-top: 1em;
    margin-bottom: .5em;
    color: black;
}
.stress-section h2 {
    color: black
}


.stress-figure {
    float: left;
    max-width: 40%;
    margin-top: 0; 
    margin-right: 1em; 
    margin-left: 0;
    margin-bottom: 1em; 
  }
  
  .stress-image {
      display: block; 
      max-width: 100%;
      height: auto; 
  }

  .stress-figure figcaption {
    margin-top: .5em;
    font-weight: bold;
    text-align: left;
    word-wrap: break-word;
    max-width: 100%;
    border-bottom : 2px solid steelblue;
  }
    
main aside {
    grid-row: 2 / 3;
    margin-left: 0;
    padding: .5em;
    margin-bottom: 2em;
    display: block;
     width: 100%;
}

main aside h2 {
       color: maroon;
    }

main aside ul {
        line-height: 150%;
        padding-left: .75em;
    }
main aside ul.resources {
        list-style-type: none;
    }

main aside a {
        color: steelblue;
    }
main aside a:hover, main aside a:focus {
        color: maroon;
    }

footer {
    background-color: steelblue;
    margin-left: -1.2em;
    margin-right: -1.2em;
    font-size: 90%;
    color: white;
    padding: 1em;
    text-align: center;
}
@media only screen and (min-width: 1310px) {
    header {
        grid-column: 1 / span 5;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        column-gap: 1em;
        padding: 0 1em 2.5em 1em;
        box-sizing: border-box;      
    }
   
    header img {
        float: none;
        grid-column: 1 / 2;
        width: 100px;
        height: auto;
        align-self: flex-start;
    }

    header h1 {
        grid-column: 2 / 3;
        margin-top: 0;
        margin-bottom: 0.1em;
        padding-bottom: 0;
    }

    header h3 {
        grid-column: 2 / 3;
        margin-top: 0;
    }
    
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
    
    main h3 {
        color: maroon;
    }
    main section {
        grid-column: 1;
        grid-row: 1 / 2;
        clear: left;
    }
    main section a{
        color: maroon;
    }
    main section a:hover, main section a:focus {
            color: steelblue
     }
    main section h2 {
        font-size: calc(115% + 1vw);
        margin-top: 0;
    }
    
    
    main aside {
        grid-column: 2;
        grid-row: 1 / 2;
        margin-left: 1em;
        padding: .5em;
        border: solid steelblue;
        border-radius: 10px;
        margin-bottom: 2em;
        display: inline-block;
        align-self: flex-start;
    }
    
    main aside h2 {
           color: maroon;
        }
    
    main aside ul {
            line-height: 150%;
            padding-left: .75em;
        }
    
    main aside a {
            color: steelblue;
        }
    main aside a:hover, main aside a:focus {
            color: maroon;
        }
    

    .navbar {
        background-color: steelblue;
        margin-bottom: 1em;
    }
    .navbar ul {
        color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .navbar li {
        padding: 0;
    }
    
    .navbar a {
        display: block;
        padding: 1em;
        text-decoration: none;
        margin: 0;
        color: inherit;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .navbar a:hover, .navbar a:focus {
        background-color: steelblue;
        color: white;
        outline: none;
    }
    
    .navbar li > a.current {
        border: 2px solid white;
        border-radius: 10px;
        padding: 0.3em 0.7em;
        cursor: pointer;
    }
    
    #checkbox-toggle:checked ~ .menu {
        display:flex;
        position: relative;
        left: auto; 
        top: auto; 
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
       }
    
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%; 
    }
    
    .menu-btn {display:none;}

    .menu li {
        flex: 0 0 auto;
        padding: 0;
        text-align: center;
        position: relative;
        margin: 0;
    }
    
    .menu li > small {
        margin-left: .5em;
        display: inline-block;
    }
    
    .menu li:hover .submenu {
        display: block;
    }
    
    .submenu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: steelblue;
        text-align: left;
        z-index: 10;
        padding: 0;
        margin: 0;
    }
    
    .submenu ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .submenu li {
        text-align: left;
    }
    
    .submenu li a {
        display: block; 
        padding: 0.75em 1em;
        text-decoration: none;
        color: white;
        box-sizing: border-box;
    }
    
    .submenu li a:hover, .submenu li a:focus {
        background-color: steelblue;
        color: white;
        outline: none;
    }
    
    
    .submenu {
        & li a { /* SCSS Syntax */
            display: none; 
        }
    }
    
    .menu li:hover .submenu {
        display: block;
        & li a { /* SCSS Syntax */
            display: block;
        }
    }
    
}
